body{
    margin: 0px;
    padding: 0px;
}
.page{
    display: flex;
}
ul{
    padding: 0px;
    margin: 0px;
}

li{
    list-style: none;
    margin: 0;
    padding: 0px;
}
.sidebar{
    background-color: black;
    height: 100vh;
    width: max(50px,10vh);
}
.main-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navigation{
    display: block;
    background-color: pink;
    height: 150px;
    width: 100%;
}