body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.page{
    display: flex;
    height: 100%;
}
ul{
    padding: 0px;
    margin: 0px;
}

li{
    list-style: none;
    margin: 0;
    padding: 0px;
}
.sidebar{
    background-color: black;
    display: block;
    width: max(50px,10vh);
}
.main-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigation{
    display: block;
    background-color: pink;
    height: 150px;
    width: 100%;
}
.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.info-cards{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 40px;
}
.card{
    min-height: 250px;
    background-color: black;
    border-radius:25px;
}
.side-cards{
    margin: 40px;
    display: grid;
    grid-template-rows: repeat(auto-fit,1fr);
    gap: 40px;
}

.info{
    border-radius: 20px;
    background:black;
    min-height: 400px;
}